<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/global.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/page2.css')}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="page2">
      <div class="frame">
        <div class="lorem-ipsum-dolor">
          Lorem ipsum dolor sit amet consectetur. Vel nunc quis nam orci
          bibendum tellus bibendum. At pellentesque lectus netus tortor integer
          arcu elit nulla. Tempor metus amet sit enim risus. Sit quam sed
          porttitor turpis scelerisque venenatis sed elit erat. Pharetra quis
          quam lorem quis volutpat posuere volutpat non. Dui lorem molestie
          eleifend elementum maecenas velit. Vestibulum pretium enim dignissim
          ullamcorper tincidunt tortor. Consectetur auctor ut quis turpis
          pellentesque consectetur phasellus nibh. Purus mattis viverra volutpat
          pretium senectus mauris at.
        </div>
        <div class="sos">SOS</div>
      </div>
      <div class="frame1">
        <div class="frame2">
          <div class="header">
            <div class="home">HOME</div>
            <div class="home">ABOUT</div>
            <div class="home">CONTACT US</div>
          </div>
        </div>
        <div class="frame-child"></div>
      </div>
    </div>
  </body>
</html>
